[submodule "pack/plugins/start/vim-airline"]
	path = pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "pack/plugins/start/vim-airline-themes"]
	path = pack/plugins/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "pack/plugins/start/vim-repeat"]
	path = pack/plugins/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "pack/plugins/start/vim-surround"]
	path = pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/plugins/start/colorizer"]
	path = pack/plugins/start/colorizer
	url = https://github.com/vim-scripts/colorizer
[submodule "pack/plugins/start/vim-commentary"]
	path = pack/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "pack/plugins/start/vim-dark_eyes"]
	path = pack/plugins/start/vim-dark_eyes
	url = https://github.com/bf4/vim-dark_eyes
[submodule "pack/plugins/start/vim-easymotion"]
	path = pack/plugins/start/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion
[submodule "pack/plugins/start/vim-speeddating"]
	path = pack/plugins/start/vim-speeddating
	url = https://github.com/tpope/vim-speeddating
