set relativenumber
set number
set incsearch
set showmode
set ignorecase
set smartcase
let mapleader=" "

set so=3

nmap == :action ReformatCode<cr>

" Won't work in visual mode (with vmap) for some reason.
" Use default map of <c-/> for that.
nmap gcc :action CommentByLineComment<cr>

" Requires ideavim-quickscope plugin
" Highlights the target letters when pressing f or t.
set quickscope

" Allow to target an indentation level.
Plug 'michaeljsmith/vim-indent-object'

" Surround text.
Plug 'tpope/vim-surround'

" Requires ideavim-easymotion and acejump plugin.
Plug 'easymotion/vim-easymotion'
